[submodule "node-gyp"]
	path = node-gyp
	url = ssh://git@github.com/DependencyCodeEditorLand/NodeGYP.git
	ignore = all
[submodule "deps/wil"]
	path = deps/wil
	url = ssh://git@github.com/DependencyCodeEditorLand/Wil.git
	ignore = all
